:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  mat-card {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    align-items: center;
    gap: 20px;
    box-shadow: 20px 20px 40px rgba(20, 20, 20, 0.4);
    background-color: rgba(120, 120, 120, 0.2);
    padding-bottom: 8vh;

    mat-card-header {
      margin: 0 auto;
      text-align: center;

      mat-card-title {
        font-size: 2rem;
        padding-top: 10px;
      }
      mat-card-subtitle {
        font-size: 1rem;
        padding-top: 10px;
      }
    }
    mat-card-content {
      width: 60vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
          align-items: center;

          mat-form-field {
            min-width: 90vw;
            margin: 0;
          }
        }

        mat-form-field {
          margin: 20px 10px 0;
          width: 20vw;
        }

        .no-notes {
          font-size: 2rem;
          margin: 20px;
        }
        .note-item-container-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      mat-card-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 20vh;

        button {
          padding: 1.5rem;
          margin: 10px auto;
          width: 20vw;
          font-size: 1rem;
          border-radius: 30px;
        }
        @media only screen and (max-width: 600px) {
          button {
            width: 75vw;
          }
        }
      }
    }
    @media only screen and (max-width: 600px) {
      mat-card-content {
        min-width: 100%;
        .note-item-container-container {
          width: 100%;
          .note-item-container {
            width: 100%;
          }
        }
      }
    }
  }
}
